header {
  /* border: 2px solid red; */
  text-align: center;
  background-color: #2e5266;
  color: white;
  height: 300px;
}
header > h1 {
  line-height: 150px;
}
#subtitle {
  margin: 0px 200px;
}
nav > ul {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  background-color: #2e5266;
}
.nav-link {
  list-style: none;
  border: 1px solid rgb(40, 40, 50);
  padding: 10px 15px;
  margin: 2px 5px;
}
.btn {
  background-color: #8d99ae;
  color: white;
}
.btn:hover {
  background-color: #fc7753;
  color: black;
}
div {
  /* border: 2px solid red; */
  margin: 0px;
  background-color: #780116;
  color: white;
  text-align: center;
}
h3 {
  text-align: center;
}
section {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
}
img {
  padding: 10px;
  width: 450px;
  height: 300px;
}
p {
  margin: 0px 100px;
}
footer {
  /* border: 2px solid red; */
  text-align: center;
  background-color: #e2c044;
}
form {
  margin-top: 20px;
  display: flexbox;
}
[type="text"],
[type="email"] {
  padding: 2px 2px;
  margin: 8px 0;
  border: 2px solid black;
}
[type="radio"] {
  width: 20px;
}
[type="radio"] + label {
  color: black;
}
textarea {
  border: 2px solid black;
}
[type="submit"] {
  background-color: #8d99ae;
  color: white;
  width: 30%;
}
[type="submit"]:hover {
  background-color: #e2c044;
  color: black;
}
